# ======================
# DATABASE CONFIG
# ======================
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_db_user
DB_PASS=your_db_password
DB_NAME=your_db_name

# ======================
# SMTP CONFIG (Gmail)
# ======================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
FROM_EMAIL=your_email@gmail.com

# ======================
# APP CONFIG
# ======================
SECRET_KEY=your_secret_key_here


# Cors
ALLOWED_ORIGINS=Frontend Url
ALLOWED_CREDENTIALS=true