# ======================
# PYTHON
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# ======================
# VIRTUAL ENV
# ======================
venv/
env/
ENV/

# ======================
# ENV FILES (IMPORTANT)
# ======================
.env
.env.*

# ======================
# IDE / EDITOR
# ======================
.vscode/
.idea/

# ======================
# LOG FILES
# ======================
*.log

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db

# ======================
# BUILD FILES
# ======================
dist/
build/
*.egg-info/

# ======================
# TEST CACHE
# ======================
.pytest_cache/
coverage/
